<!-- Add machine button -->
<div id="create-machine" class="ui-link ui-btn ui-btn-add ui-btn-d ui-shadow floating-collapsible"
     data-role="collapsible"
     data-collapsed="true">

    <h4><span class="title">Create Machine</span></h4>

    <div id="machine-create" data-role="content" >

        <!-- Select Name -->
        <div id="create-machine-name-wrapper" class="{{if Mist.machineAddController.newMachineName 'filled' 'empty'}} required">
            <label for="create-machine-name">Name</label>
            {{view Mist.TextField
                   id="create-machine-name"
                   value=Mist.machineAddController.newMachineName}}
        </div>

        <!-- Select Provider -->
        <div id="create-machine-provider" class="required {{if Mist.machineAddController.selectedImage 'preset' ''}} {{if Mist.machineAddController.newMachineProvider.provider 'filled' 'empty'}}">
            <label>Provider</label>
            <div data-role="collapsible"
                data-iconpos="right"
                data-collapsed-icon="carat-d"
                data-expanded-icon="carat-u"
                class="mist-select">
                <h4>{{#if Mist.machineAddController.newMachineProvider.provider}}
                       <span class="provider-icon-small">
                            <span class="{{Mist.machineAddController.newMachineProvider.className}}"></span>
                        </span>
                    {{/if}}
                    {{Mist.machineAddController.newMachineProvider.title}}
                </h4>

                {{#unless Mist.machineAddController.selectedImage}}
                <ul data-role="listview" >
                    {{#each Mist.cloudsController.model as |cloud|}}
                        {{#if cloud.canCreateMachine}}
                            <li data-icon="false">
                                <a {{action "selectProvider" cloud target=view}} title="{{cloud.title}}">
                                    <span class="provider-icon-small">
                                        <span class={{cloud.className}}></span>
                                    </span>
                                    {{cloud.title}}
                                </a>
                            </li>
                        {{/if}}
                    {{/each}}
                </ul>
                {{/unless}}
            </div>
        </div>

        <!-- Select Image -->
        <div id="create-machine-image" class="required {{if Mist.machineAddController.selectedImage 'preset' ''}} {{if Mist.machineAddController.newMachineProvider.provider '' 'ui-state-disabled'}} {{if Mist.machineAddController.newMachineImage.id 'filled' 'empty'}}">
            <label>Image</label>
            <div data-role="collapsible"
                 data-iconpos="right"
                 data-collapsed-icon="carat-d"
                 data-expanded-icon="carat-u"

                 class="mist-select">
                <h4>
                    {{#if Mist.machineAddController.newMachineImage.id}}
                        <span class="image-icon-small">
                            <span class={{Mist.machineAddController.newMachineImage.className}}>
                            </span>
                        </span>
                    {{/if}}
                    {{Mist.machineAddController.newMachineImage.name}}
                </h4>

                {{#unless Mist.machineAddController.selectedImage}}
                <ul data-role="listview" >
                    {{#each Mist.machineAddController.newMachineProvider.images.model as |image|}}
                        {{#unless Mist.machineAddController.newMachineProvider.images.hasStarred}}
                            <li data-icon="false">
                                <span class="image-icon-small">
                                    <span class={{image.className}}></span>
                                </span>
                                <a {{action "selectImage" image target=view}} title="{{image.name}}">{{image.name}}</a>
                            </li>
                        {{else}} {{#if image.star}}
                            <li data-icon="false">
                                <a {{action "selectImage" image target=view}} title="{{image.name}}">
                                    <span class="image-icon-small">
                                        <span class={{image.className}}></span>
                                    </span>
                                    {{image.name}}
                                </a>
                            </li>
                        {{/if}} {{/unless}}
                    {{/each}}
                    {{#if view.hasLibvirt}}
                        <li data-icon="false" data-theme="d">
                            <a {{action "createLibvirtImage" target=view}}>
                                {{#if Mist.machineAddController.newMachineLibvirtImagePath}}
                                    {{Mist.machineAddController.newMachineLibvirtImagePath}}
                                {{else}}
                                    Create Image
                                {{/if}}
                            </a>
                        </li>
                    {{/if}}
                </ul>
                {{/unless}}
            </div>
        </div>

        <div id="size">
            <div id="create-machine-size" class="{{if Mist.machineAddController.newMachineSize.id 'filled' 'empty'}} {{if Mist.machineAddController.newMachineProvider.provider '' 'ui-state-disabled'}} required">
                <!-- Select Size -->
                <label>Size</label>
                <div data-role="collapsible"
                     data-iconpos="right"
                     data-collapsed-icon="carat-d"
                     data-expanded-icon="carat-u"

                     class="mist-select">
                    <h4>{{Mist.machineAddController.newMachineSize.name}}</h4>

                    <ul data-role="listview" >
                        {{#each Mist.machineAddController.newMachineProvider.sizes.model as |size|}}
                        <li data-icon="false">
                            <a {{action "selectSize" size target=view}} title="{{size.name}} - disk:{{size.disk}}, ram:{{size.ram}}">{{size.name}}
                                <span class="size-decription">
                                 - disk:{{size.disk}}, ram:{{size.ram}}
                                </span>
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Libvirt Specific -->
        {{#if view.hasLibvirt}}
        <div class="field-wrapper">
            <div class="first-child">
                <label for="create-machine-disk-path">Path to create VM's disk</label>
                {{view Mist.TextField
                   id="create-machine-disk-path"
                   data-theme="a"
                   value=Mist.machineAddController.newMachineLibvirtDiskPath}}
            </div>
            <div class="last-child">
                <a class="ui-btn ui-btn-a ui-btn-icon-notext ui-icon-question"
                    id="create-machine-disk-path-helper"
                    {{action "helpClicked" "disk-path" target=view}}>
                </a>
            </div>
        </div>

        <div class="field-wrapper">
            <div class="first-child">
                <label for="create-machine-disk-size">Disk Size (GB)</label>
                {{view Mist.TextField
                   id="create-machine-disk-size"
                   data-theme="a"
                   value=Mist.machineAddController.newMachineLibvirtDiskSize}}
            </div>
            <div class="last-child">
                <a class="ui-btn ui-btn-a ui-btn-icon-notext ui-icon-question"
                    id="create-machine-disk-size-helper"
                    {{action "helpClicked" "disk-size" target=view}}>
                </a>
            </div>
        </div>
        {{/if}}

        <!-- Select Location -->
        {{#if view.hasLocation}}
        <div id="location">
            <div id="create-machine-location" class="{{if Mist.machineAddController.newMachineLocation.id 'filled' 'empty'}} required">
                <label>Location</label>
                <div data-role="collapsible"
                     data-iconpos="right"
                     data-collapsed-icon="carat-d"
                     data-expanded-icon="carat-u"

                     class="mist-select">
                    <h4>{{Mist.machineAddController.newMachineLocation.name}}</h4>
                    <ul data-role="listview">
                        {{#each Mist.machineAddController.newMachineProvider.locations.model as |location|}}
                        <li data-icon="false">
                            <a {{action "selectLocation" location target=view}}>{{location.name}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        {{/if}}

        <!-- Select Key -->
        {{#if view.hasKey}}
        <div id="key" class="{{if Mist.machineAddController.newMachineProvider.provider '' 'ui-state-disabled'}} {{if Mist.machineAddController.newMachineKey.id 'filled' 'empty'}} {{if view.needsKey 'required'}}">
            <div id="create-machine-key" >
                <label>Key</label>
                <div
                     data-role="collapsible"
                     data-iconpos="right"
                     data-collapsed-icon="carat-d"
                     data-expanded-icon="carat-u"

                     class="mist-select">
                    <h4>
                        {{#if Mist.machineAddController.newMachineKey.id}}
                        {{Mist.machineAddController.newMachineKey.id}}
                        {{else}}
                        {{Mist.machineAddController.newMachineKey.title}}
                        {{/if}}
                    </h4>

                    <ul data-role="listview">
                        {{#each Mist.keysController.model as |key|}}
                            <li data-icon="false">
                                <a {{action "selectKey" key target=view}}>{{key.id}}</a>
                            </li>
                        {{/each}}
                        <li data-icon="false" data-theme="d">
                            <a {{action "createKeyClicked" target=view}}>Add Key</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {{/if}}

        {{#if view.hasPacket}}
        <div id="packet" class="{{if Mist.machineAddController.newMachineProject 'filled' 'empty'}} required">
            <div id="create-machine-project" >
                <label>Project</label>
                <div
                     data-role="collapsible"
                     data-iconpos="right"
                     data-collapsed-icon="carat-d"
                     data-expanded-icon="carat-u"

                     class="mist-select">
                    <h4>
                        {{#if Mist.machineAddController.newMachineProject.name}}
                        {{Mist.machineAddController.newMachineProject.name}}
                        {{else}}
                        Select
                        {{/if}}
                    </h4>

                    <ul data-role="listview">
                        {{#each Mist.machineAddController.newMachineProvider.projects.model as |project|}}
                            <li data-icon="false">
                                <a {{action "selectProject" project target=view}}>{{project.name}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        {{/if}}

        <!-- Docker Specific -->
        {{#if view.hasDocker}}
        <div class="docker">

            <!-- Environment Vars -->
            <div id="create-machine-env" class="{{if Mist.machineAddController.newMachineDockerEnvironment 'filled' 'empty'}}">
                <label for="create-machine-env">Environment Variables</label>
                {{view Mist.TextArea
                       id="create-machine-env"
                       value=Mist.machineAddController.newMachineDockerEnvironment}}
            </div>

            {{#unless view.dockerNeedScript}}
            <!-- Command -->
            <div id="create-machine-command" class="required {{if Mist.machineAddController.newMachineDockerCommand 'filled' 'empty'}}">
                <label for="create-machine-command">Command</label>
                {{view Mist.TextArea
                       id="create-machine-command"
                       value=Mist.machineAddController.newMachineDockerCommand}}
            </div>
            {{/unless}}

        </div>
        {{/if}}

        <!-- Select Networks -->
        {{#if view.hasNetworks}}
        <div id="create-machine-network">
            <label>Networks</label>
            <fieldset data-role="controlgroup">
                {{#each Mist.machineAddController.newMachineProvider.networks.model as |network|}}
                    <input id={{network.id}} name={{network.id}} checked={{network.selected}}
                        type="checkbox" {{action "toggleNetworkSelection" network on="change" target=view}}>
                    <label for={{network.id}} data-corners="false">
                        {{network.name}}
                    </label>
                {{/each}}
            </fieldset>
        </div>

        <div id="create-machine-floating-ip">
            {{view Mist.Checkbox
            data-theme="a"
            id="associate_floating_ip"
            checked=Mist.machineAddController.newMachineAssociateFloatingIp}}
            <label for="associate_floating_ip" data-corners="false">
                Associate Floating Ip
            </label>
        </div>
        {{/if}}

        <!-- Select Cloud Init Script -->
        {{#if view.hasCloudInit}}
        <div id="cloud-init">
            <label for="create-machine-cloud-init">Cloud Init</label>
            {{view Mist.TextArea
                   id="create-machine-cloud-init"
                   value=Mist.machineAddController.newMachineCloudInit}}
        </div>
        {{/if}}

        <!-- Select Script -->
        {{#if view.hasScript}}
        <div id="script">
            <label for="create-machine-script">Script</label>
            {{#if Mist.isCore}}
            {{#if Mist.scriptsController.model.length}}
                <select class="toggle-field ui-mini" data-role="slider"
                {{action "switchToggled" on="change" target=view}}>
                    <option value="basic">basic</option>
                    <option value="advanced">advanced</option>
                </select>
            {{/if}}
            {{/if}}

            {{#if view.hasAdvancedScript}}
            <div class="script-option advanced">
                <label>Select Script</label>
                <div id="create-machine-script-select"
                     data-role="collapsible"
                     data-iconpos="right"
                     data-collapsed-icon="carat-d"
                     data-expanded-icon="carat-u"

                     class="mist-select">
                    <h4>{{#if Mist.machineAddController.newMachineScript.name}}
                        {{Mist.machineAddController.newMachineScript.name}}
                        {{else}} Select {{/if}}
                    </h4>
                    <ul data-role="listview">
                        {{#each Mist.scriptsController.model as |script|}}
                            <li data-icon="false">
                                <a {{action "selectScript" script target=view}}>{{script.name}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </div>

                {{view Mist.TextArea
                       id="create-machine-script-params"
                       placeholder="Optional script parameters"
                       value=Mist.machineAddController.newMachineScriptParams}}
            </div>
            {{else}}
            <div class="script-option basic">
                {{view Mist.TextArea
                       id="create-machine-script"
                       value=Mist.machineAddController.newMachineScript}}
            </div>
            {{/if}}
        </div>
        {{/if}}

        {{#if view.hasDocker}}
        <div id="ports">
            <!-- Expose Ports -->
            <label for="create-machine-ports">Ports</label>
            {{view Mist.TextArea
                   id="create-machine-ports"

                   placeholder="e.g. 80:80"
                   value=Mist.machineAddController.newMachineDockerPorts}}
        </div>
        {{/if}}

        {{#if view.hasAzure}}
        <div class="azure">
            <!-- Expose Ports -->
            <div id="create-machine-azure-ports-wrapper" class="{{if Mist.machineAddController.newMachineAzurePorts 'filled' 'empty'}} required">
                <label for="create-machine-azure-ports">Ports</label>
                {{view Mist.TextArea
                       id="create-machine-azure-ports"

                       placeholder="e.g. http tcp 80:80, smtp tcp 25:25, https tcp 443:443"
                       value=Mist.machineAddController.newMachineAzurePorts}}
            </div>
        </div>
        {{/if}}

        <!-- Enable monitoring -->
        {{#if view.hasMonitoring}}
        <div id="create-machine-monitoring">
            <label>
            {{view Mist.Checkbox
                checked=Mist.machineAddController.newMachineMonitoring}}
            Enable monitoring
            </label>
        </div>
        {{/if}}

        {{#if view.price}}
        <div id="create-machine-cost">
            Estimated price
            <span>{{view.price}}</span>
        </div>
        {{/if}}

        {{#if Mist.machinesController.addingMachine}}
            <div id="machine-add-loader" class="ajax-loader"></div>
        {{/if}}

        <div class="ok-cancel" data-role="controlgroup" data-type="horizontal" >
            <a id="create-machine-ok"
                class="ui-btn ui-btn-d ui-first-child ui-last-child ui-shadow ui-caps {{if Mist.machineAddController.formReady '' 'ui-state-disabled'}} {{if Mist.machinesController.addingMachine 'ui-state-disabled'}}"
                    {{action "launchClicked" target="view"}}>Launch</a>
        </div>
    </div>
</div>

<div id="create-machine-overlay" class="ui-popup-screen ui-overlay-b ui-screen-hidden"
     {{action "clickOverlay" target=view}}></div>

<div id="help-tooltip-screen"
        class="ui-popup-screen
            ui-overlay-b
            ui-screen-hidden">
    </div>
    <div id="help-tooltip-popup"
         class="pop
            ui-popup-container
            ui-popup-hidden
            ui-popup-truncate">
        <div id="help-tooltip"
             class="ui-popup
                ui-body-a
                ui-overlay-shadow
                ui-corner-all"
             data-role="popup"
             data-arrow="true"
             data-enhanced="true"
             data-transition="flip">
            <p>{{view.helpText}}
                {{#if view.helpHref}}
                <a target="_blank" href={{view.helpHref}}>
                    Read more...
                </a>
                {{/if}}
            </p>
        </div>
    </div>

{{component "key-add"}}

{{component "machine-image-create"}}
