.logs.ui-collapsible h4.ui-collapsible-heading a {
    background-color: #D4D4D4 !important;
    padding: 20px 70px 16px !important;
    border: none;
}

.log-list {
    clear: both;
    background-color: #FAF9F4;
}

.log-list .ui-btn {
    color: #444;
}

.log-list fieldset {
    background-color: #FAF9F4;
    margin: 0;
}

.log-list fieldset .ui-btn {
    text-transform: uppercase;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom: 2px solid #FAF9F5 !important;
}

.log-list fieldset .ui-btn:hover {
    background-color: #FAF9F4;
    border-bottom: 2px solid #7f7f7f !important;
}

.log-list fieldset .ui-btn-active {
    border-bottom: 2px solid #444 !important;
}

.log-list ul.ui-listview {
    margin: 0;
    border-top: 1px solid #d4d4d4;
}
.log-list ul.ui-listview a.ui-btn {
    padding-right: 40px;
    padding-left: 20px;
}
.log-list ul.ui-listview a.ui-btn:active {
    background-color: #edece8;
}
.log-list ul.ui-listview a.ui-btn:after {
    font-family: 'MistIcons';
    font-size: 16px;
    content: '\0072';
    background-color: transparent;
    background-image: none;
    opacity: 1;
    color: #7F7F7F;
    position: absolute;
    top: 11px;
    right: 10px;
}
.log-list ul.ui-listview a.ui-btn:after {
    right: 19px !important;
}
.log-list ul.ui-listview .open a.ui-btn:after {
    content: '\0073';
}
.log-list ul.ui-listview a.ui-btn.error:after {
    color: #d96557 !important;
}
.log-list ul.ui-listview a.ui-btn.error .icon-warn {
    margin-bottom: -4px;
}
.log-list ul.ui-listview a.ui-btn.error .icon-warn:after {
    color: #d96557 !important;
}
.log-list .ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn {
    padding: 1.2em 1.5em .8em;
    box-sizing: border-box;
    font-size: 14px;
    height: 47px;
}

@media (max-width: 720px) {
    .log-list .ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn {
        padding: 1.2em 1.2em .8em;
        font-size: 12px;
        height: 42px;
    }
}

@media (max-width: 600px) {
    .log-list .ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn {
        padding: 1.2em .8em .8em;
        box-sizing: border-box;
        font-size: 11px;
        height: 40px;
    }
}

.logs .ui-input-text {
    width: 44%;
    float: right;
    margin-top: -45px;
    margin-right: 10px;
    position: relative;
}

@media (max-width: 35em) {
    .logs .ui-input-text {
        width: 25%;
    }
}

.details {
    display: none;
    padding: 5px;
    box-sizing: border-box;
}

.details.info-table {
    background-color: #EDECE8;
    padding: 0;
}

.details table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.details table tr:hover {
    background-color: #f2f2f2;
    border-color: #f2f2f2;
}
.details table td {
    word-wrap: break-word;
    white-space: normal;
    font-weight: 400;
    border: none;
    color: #000;
    border-bottom: 1px solid #eeedeb;
}
.details table td:nth-child(2) {
    color: #7f7f7f;
}

.log-list ul {
    font-size: 14px;
}

.log-list .ui-block-c div {
    float: right;
    margin-right: 10px;
    color: #7F7F7F;
}

.log-list .ui-block-a div {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    float: left;
    margin: 0;
}

.log-list .filter-wrapper fieldset {
    float: left;
    margin: 0;
}

.log-list .filter-wrapper fieldset label {
    font-size: 14px;
    text-transform: uppercase;
    border-width: 0px;
}

.log-list .filter-wrapper .ui-input-text {
    display: inline-block;
    float: right;
    padding: 0px .5em !important;
    margin: 0;
    border: none;
}

.log-list a .ui-block-a {
    text-align: left;
}

.log-list .ui-block-a div.error {
    top: 0;
    left: 5px;
}

.log-list a .ui-block-c {
    text-align: right;
}

.log-list li a {
    margin: 0;
}

.log-list span.open {

}

.log-list span.open a {
    background-color: #EDECE8 !important;
}


.log-list .details table td:first-child {
    width: 33%;
}

.log-list .details table td:last-child {
    width: 66%;
}

.no-logs {
    border-top: 3px solid #eee;
}

.log-list .details td > div, td > div.df {
    max-height: 310px;
    white-space: pre;
    overflow: auto;
}

.log-list ul {
    margin-top: 1em;
}

.log-list ul li {
    padding: 0 !important;
    border-bottom: 1px solid #D4D4D4;
}

.log-list ul li a {
    margin: 0 !important;
    padding: .8em 1em .8em;
    border: none;
}

.log-list .tag {
    float: none;
}

input#event-all {
    display: none;
}

label[for='event-jobs'],
.tag.tag-job {
    color: #0099cc !important;
}
label[for='event-jobs'].ui-btn:hover, label[for='event-jobs'].ui-btn-active {
    border-bottom: 2px solid #0099cc !important;
}
label[for='event-requests'],
.tag.tag-request {
    color: #d48900 !important;
}
label[for='event-requests'].ui-btn:hover, label[for='event-requests'].ui-btn-active {
    border-bottom: 2px solid #d48900 !important;
}
label[for='event-incidents'],
.tag.tag-incident {
    color: #D96557 !important;
}
label[for='event-incidents'].ui-btn:hover, label[for='event-incidents'].ui-btn-active {
    border-bottom: 2px solid #D96557 !important;
}
label[for='event-sessions'],
.tag.tag-session {
    color: #177283 !important;
}
label[for='event-sessions'].ui-btn:hover, label[for='event-sessions'].ui-btn-active {
    border-bottom: 2px solid #177283 !important;
}
label[for='event-shell'],
.tag.tag-shell {
    color: #838E00 !important;
}
label[for='event-shell'].ui-btn:hover, label[for='event-shell'].ui-btn-active {
    border-bottom: 2px solid #838E00 !important;
}
label[for='event-error'] {
    color: #FF513D !important;
}
label[for='event-error'].ui-btn:hover, label[for='event-error'].ui-btn-active {
    border-bottom: 2px solid #FF513D !important;
}

.log-list li a.machine-log-link,
.log-list li a.script-log-link {
    background-color: #faf9f4 !important;
    color: #7f7f7f !important;
    padding: 5px 10px !important;
    text-decoration: none;
}
