
/* Import css files
-----------------------------------------------------------------------------------------------------------*/
@import url('c3.min.css');
@import url('jquery.mobile.structure-1.4.5.min.css');
@import url('theme.css');
@import url('images/sprite-build/sprites.css');
@import url("css/icons.css");
@import url("css/key.css");
@import url("css/home.css");
@import url("css/rules.css");
@import url("css/log_list.css");
@import url("css/image.css");
@import url("css/images.css");
@import url("css/machine.css");
@import url("css/key_add.css");
@import url("css/missing.css");
@import url("css/network.css");
@import url("css/key_list.css");
@import url("css/providers.css");
@import url("css/metric_add.css");
@import url("css/machine_monitoring.css");
@import url("css/file_upload.css");
@import url("css/cloud_add.css");
@import url("css/machine_add.css");
@import url("css/machine_keys.css");
@import url("css/cloud_edit.css");
@import url("css/machine_tags.css");
@import url("css/machine_list.css");
@import url("css/machine_run_script.css");
@import url("css/network_list.css");
@import url("css/network_create.css");
@import url("css/machine_power.css");
@import url("css/machine_shell.css");
@import url("css/cloud_button.css");
@import url("css/graph_list.css");
@import url("css/metric_add_custom.css");
@import url("css/script.css");
@import url("css/script_list.css");
@import url("css/script_add.css");


.ui-content, .header-grid {
    margin: 0px auto;
    max-width: 1200px;
    overflow: visible !important;
    padding: 15px;
}

#banner-logo {
    display: inline-block;
    width: 120px;
    height: 54px;
    background: transparent url(images/logo.png) no-repeat left center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-resolution: 192dpi), (min-resolution: 192dpi) {
    #banner-logo {
        background: url(images/logo@2x.png) no-repeat left center;
        background-size: 120px;
    }
}

.user-menu {
    height: 56px;
    text-align: right;
}

h1 {
    color: #444444;
    font-size: 18px;
    font-weight: 300;
}

h2 {
    color: #444444;
    font-size: 16px;
}

h3 {
    font-size: 14px;
    color: #000;
}

h4 {
    font-weight: 400;
}

.hidden {
    display: none !important;
}

.text-center {
    text-align: center;
}

.ui-caps, .ui-collapsible-heading {
    text-transform: uppercase;
}

.ui-collapsible-heading {
    color: #474747 !important;
}

.ui-collapsible .ui-collapsible-heading a:hover {
    color: #474747 !important;
}

.ui-btn-add {
    font-weight: lighter !important;
    font-size: 16px;
}

.ui-btn-add.ui-btn-icon-left {
    padding: 1.2em 1.8em 1em 4.3em !important
}

.ui-btn-add.ui-btn-icon-left:after {
    left: 1em !important;
}

.ui-popup {
    border: none !important;
    font-weight: 400;
}

.ui-header {
    border: none;
}

.ui-popup .ui-header {
    border: none !important;
    background-color: #d4d4d4;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 20px;
    text-shadow: 0 0 0 transparent;
    position: relative;
}

.ui-popup .ui-header .close {
    position: absolute;
    right: 16px;
    top: 11px;
    color: rgba(0,0,0,0.2);
    font-size: 22px;
    text-decoration: none;
    outline: none;
    font-size-adjust: 0.7;
}
.ui-popup .ui-header .close:hover {
    color: #444;
}

.ui-popup .ui-header .close:active {
    color: #fff !important;
}

.ui-popup .ui-header .close:hover {
    cursor: pointer;
}

.ui-header .ui-block-a h1.ui-title,
.ui-header .ui-block-b h1.ui-title {
    font-size: 24px;
    text-align: left;
    margin: 14px 10px;
    padding: 0;
    text-shadow: 0 0 0 transparent !important;
}

.ui-header .ui-block-b h4.ui-title {
    margin: 0;
}

.ui-popup-container .ui-header {
    border: none !important;
    background-color: #d4d4d4;
    color: #000;
    text-transform: uppercase;
    padding: 15px;
    text-shadow: 0 0 0 transparent;
}

.ui-popup-container .ui-content {
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

.ui-popup-container h1.ui-title{
    font-size: 18px;
    color: #000;
    text-align: left;
    padding: 0;
}

.ui-popup ul.ui-listview{
    padding: 0;
    text-transform: uppercase;
}

.ui-popup ul.ui-listview li a {
    border: 0;
}

.ui-popup ul.ui-listview li a:hover {
    background-color: #7f7f7f !important;
    color: #fff;
}

.ui-popup ul.ui-listview li a:after {
    left: .8em;
    top: 1em;
}

.ui-li-count {
    border-width: 0px;
    font-size: 18px !important;
    background-color: transparent !important;
    color: inherit !important;
    text-shadow: 0 0 0 transparent !important;
    font-weight: 400;
    top: 24px !important;
}

#home-page ul.ui-listview > li {
    font-weight: 300;
    color: #444;
}

.ui-input-search:after, .ui-input-text:after {
    right: .6em !important;
    left: inherit;
    top: 50%;
    margin-top: -7px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    filter: Alpha(Opacity=50);
    opacity: .5;
    position: absolute;
}

.ui-input-search,
.ui-input-text {
    box-shadow: none;
}
textarea.ui-input-text {
    border: 1px solid #b5b5b5;
}
textarea.ui-input-text:hover {
    border-color: #a3a3a3;
}
textarea.ui-input-text,
.ui-input-text input,
.ui-input-text input {
    padding-left: .75em;
    padding-right: 1.75em;
    background: #fff;
    border-radius: 0;
    color: #444;
    text-shadow: none;
    font-size: 14px;
}

.ui-input-text input {
    padding-right: .75em;
}

.ui-input-text:after {
    display: none;
}

/* Navigation Back Links
-----------------------------------------------------------------------------------------------------------*/
.ui-header .nav-back.ui-btn {
    background-color: #fff !important;
    margin-top: 15px !important;
    margin-left: 0 !important;
    border-color: #fff !important;
}
 .ui-header .nav-back.ui-btn:hover {
    color: #7f7f7f !important;
}
@media only screen and  (max-width: 600px) {
    .ui-header .nav-back.ui-btn span {
        display: none !important;
    }

    .ui-header .nav-back.ui-btn {
       margin-top: 5px !important;
       height: 30px !important;
    }

    .ui-header .nav-back.ui-btn:after {
        font-size: 24px;
        width: 30px !important;
        height: 30px !important;
    }
    .header-grid .ui-grid-b>.ui-block-a,
    .header-grid .ui-grid-b>.ui-block-c {
        width: 20%;
    }
    .header-grid .ui-grid-b>.ui-block-c {
        float: right;
    }
    .header-grid .ui-grid-b>.ui-block-b {
        width: 60%;
    }
}

/* Splash
-----------------------------------------------------------------------------------------------------------*/
.ui-mobile-rendering > * {
    visibility: visible !important;
}

#splash {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 100000;
}
.mist-logo {
    width: 280px;
    height: 280px;
    background: url("/resources/logo_splash.png") center no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -140px;
    margin-top: -140px;
}
.mist-progress {
    border: 1px solid #444;
    border-radius: .2em;
    margin-top: 19px;
    position: absolute;
    top: -19px;
    max-width: 98%;
}
.mist-progress-wrapper {
    border: 1px solid #fff;
    border-radius: .2em;
    bottom: 32px;
    box-shadow: 0 0 2px #444;
    height: 2px;
    left: 72px;
    padding: 0;
    position: absolute;
    width: 133px;
}


/* Page formating
-----------------------------------------------------------------------------------------------------------*/
body {
    background-color: #e2e2e2 !important;
}

#monitoring-collapsible .ui-collapsible-content {
    padding: 0 .5% .5%;
    border: 1px solid #f8f8f8;
    overflow: visible;
}
.ui-mobile, .ui-mobile body {
    height: 0 !important;
}
.ui-page-active {
    min-height: 100% !important;
}
.small-padding {
    height: 10px;
    width: 100%;
}
.mid-padding {
    height: 50px;
    width: 100%;
}
.large-padding {
    height: 100px;
    width: 100%;
    margin: auto;
}


/* Ajax loader
-----------------------------------------------------------------------------------------------------------*/
.ajax-loader {
    background-image: url("/resources/images/loader@2x.gif");
    background-position: center !important;
    background-repeat: no-repeat;
    background-size: 16px;
    margin: 0 auto;
    height: 16px;
    width: 16px;
}
/* TODO spinner-large@2x.gif */
.ajax-loader-big {
    background-image: url("/resources/images/spinner-large.gif");
    background-position: center center !important;
    background-repeat: no-repeat;
    background-size: 64px auto;
    display: block;
    height: 64px;
    margin: 0 auto;
    width: 64px;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .ajax-loader {
        background-image: url("/resources/images/loader@2x.gif");
    }
}

.ajax-loader.l {
    background-image: url('/resources/images/ajax-loader.gif');
    width: 135px;
    height: 75px;
    background-color: #9A9A9A;
    border-radius: .1em;
}

/* Form fields
------------------------------------------------------------------------------------------------------------*/
.form-field {
    margin-bottom: 1.6em;
}

/* Text fields
-----------------------------------------------------------------------------------------------------------*/
#manual-monitoring-popup textarea {
    height: 75px !important;
}

textarea {
    background-color: #fff !important;
    overflow-y: auto !important;
}


/* Buttons
-----------------------------------------------------------------------------------------------------------*/
.ui-btn:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.ui-btn-icon-left {
    padding: .6em 1.1em .6em 2.9em !important;
}

.ui-btn-icon-right {
    padding: .6em 2.5em .6em 1.1em !important;
}

.ui-btn.ui-icon-none:after {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M250%20383.929v-53.571q0-3.906-2.511-6.417t-6.417-2.511h-53.571q-3.906%200-6.417%202.511t-2.511%206.417v53.571q0%203.906%202.511%206.417t6.417%202.511h53.571q3.906%200%206.417-2.511t2.511-6.417zM321.429%20196.429q0-24.554-15.485-45.48t-38.644-32.366-47.433-11.44q-67.801%200-103.516%2059.431-4.185%206.696%202.232%2011.719l36.831%2027.902q1.953%201.674%205.301%201.674%204.464%200%206.976-3.348%2014.788-18.973%2023.996-25.669%209.487-6.696%2023.996-6.696%2013.393%200%2023.856%207.254t10.463%2016.462q0%2010.603-5.581%2017.020t-18.973%2012.556q-17.578%207.813-32.227%2024.135t-14.648%2035.017v10.044q0%203.906%202.511%206.417t6.417%202.511h53.571q3.906%200%206.417-2.511t2.511-6.417q0-5.301%205.999-13.812t15.207-13.812q8.929-5.022%2013.672-7.952t12.835-9.766%2012.417-13.393%207.813-16.88%203.488-22.601zM428.571%20250q0%2058.315-28.739%20107.562t-77.985%2077.985-107.562%2028.739-107.562-28.739-77.985-77.985-28.739-107.562%2028.739-107.562%2077.985-77.985%20107.562-28.739%20107.562%2028.739%2077.985%2077.985%2028.739%20107.562z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E");
    background-position: 4px;
    opacity: .3;
}

/* Popup
-----------------------------------------------------------------------------------------------------------*/
.ui-popup .ui-content {
    padding: 12px 16px;
}
#dialog .ui-content{
    text-align: center;
    word-wrap: break-word;
}
.tiny-popup {
    min-width: 150px !important;
}
.very-small-popup {
    width: 200px !important;
}
.small-popup {
    width: 240px !important;
}
.mid-popup {
    width: 255px !important;
}
.large-popup {
    width: 290px !important;
}
.huge-popup {
    width: 100% !important;
}
.ui-popup .ui-title {
    margin: 0 auto !important;
}


/* Floating collapsibles
-----------------------------------------------------------------------------------------------------------*/
.floating-collapsible {
    float: right;
    margin-bottom: 13px;
    margin-top: 0;
    top: 2px;
    position: relative;
    padding: 0;
    border:0;
    overflow: visible;
    z-index: 900;
}

.floating-collapsible,
.floating-collapsible > h4.ui-collapsible-heading,
.floating-collapsible > h4.ui-collapsible-heading > a {
    background-color: transparent !important;
    color: #fff !important;
    box-shadow: none;
    text-shadow: 0 0 0 transparent !important;
    font-weight: 400;
    margin-bottom: 0 !important;
}
.floating-collapsible {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.floating-collapsible.ui-collapsible-collapsed,
.floating-collapsible.ui-collapsible-collapsed > h4.ui-collapsible-heading, .floating-collapsible.ui-collapsible-collapsed > h4.ui-collapsible-heading > a {
    background-color: #0099cc !important;
    color: #fff !important;
}
.floating-collapsible.ui-collapsible-collapsed:hover,
.floating-collapsible.ui-collapsible-collapsed > h4.ui-collapsible-heading:hover, .floating-collapsible.ui-collapsible-collapsed > h4.ui-collapsible-heading > a:hover {
    background-color: #66C2E0 !important;
}
.floating-collapsible.ui-collapsible-collapsed:active,
.floating-collapsible.ui-collapsible-collapsed > h4.ui-collapsible-heading:active, .floating-collapsible.ui-collapsible-collapsed > h4.ui-collapsible-heading > a:active {
    background-color: #0081AC !important;
}

.floating-collapsible.ui-collapsible-collapsed > h4.ui-collapsible-heading > a {
    padding: 20px 25px 20px 35px !important;
}

.floating-collapsible > h4.ui-collapsible-heading > a {
    padding: 20px 91px 20px 78px !important;
    overflow: visible;
    border: none !important;
    background-color: #D4D4D4 !important;
    color: #444 !important;
}

.floating-collapsible > h4.ui-collapsible-heading > a:after {
    display: none;
}

.floating-collapsible > h4.ui-collapsible-heading > a:before {
    content: '+';
    position: absolute;
    right: 1px;
    top: 1px;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 44px;
    line-height: 60px;
    border-radius: 50%;
    color: rgba(0,0,0,0.2) !important;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    font-weight: 300;
}

.floating-collapsible > h4.ui-collapsible-heading > a:hover:before {
    color: #444 !important;
}

.floating-collapsible.ui-collapsible-collapsed > h4.ui-collapsible-heading > a:before {
    color: #fff !important;
    -webkit-transform: none;
    transform: none;
}

.floating-collapsible > .ui-collapsible-content {
    position: absolute;
    right: 0;
    text-align: left;
}

.floating-collapsible > .ui-collapsible-content li {
    width: 100% !important;
}

@media only screen and  (max-width: 600px) {
    #create-machine.ui-collapsible-collapsed,
    #add-script.ui-collapsible-collapsed,
    #create-network.ui-collapsible-collapsed {
        width: initial !important;
    }

    #create-machine.floating-collapsible.ui-collapsible-collapsed > h4.ui-collapsible-heading,
    #add-script.floating-collapsible.ui-collapsible-collapsed > h4.ui-collapsible-heading,
    #create-network.floating-collapsible.ui-collapsible-collapsed > h4.ui-collapsible-heading {
        width: 63px;
        height: 63px;
    }

    #create-machine.floating-collapsible.ui-collapsible-collapsed > h4.ui-collapsible-heading .ui-collapsible-heading-toggle,
    #add-script.floating-collapsible.ui-collapsible-collapsed > h4.ui-collapsible-heading .ui-collapsible-heading-toggle,
    #create-network.floating-collapsible.ui-collapsible-collapsed > h4.ui-collapsible-heading .ui-collapsible-heading-toggle {
        padding: 0 !important;
    }

    #create-machine.floating-collapsible.ui-collapsible-collapsed > h4.ui-collapsible-heading .title,
    #add-script.floating-collapsible.ui-collapsible-collapsed > h4.ui-collapsible-heading .title,
    #create-network.floating-collapsible.ui-collapsible-collapsed > h4.ui-collapsible-heading .title {
        display: none;
    }
    #machine-list-page .ui-filterable .ui-input-search,
    #script-list-page .ui-filterable .ui-input-search,
    #network-list-page .ui-filterable .ui-input-search,
    #key-list-page .ui-filterable .ui-input-search {
        margin-right: 85px !important;
    }
}

@media only screen and  (max-width: 550px) {
    #machine-list-page .ui-filterable .ui-input-search,
    #script-list-page .ui-filterable .ui-input-search,
    #network-list-page .ui-filterable .ui-input-search,
    #key-list-page .ui-filterable .ui-input-search {
        margin-left: 0 !important;
        margin-right: 35px !important;
    }
}


/* Always show scrollbars */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* Filtered list headers
-----------------------------------------------------------------------------------------------------------*/
#machine-list-page .ui-filterable,
#key-list-page .ui-filterable,
#script-list-page .ui-filterable,
#network-list-page .ui-filterable {
    position: relative;
    top: -59px;
    z-index: 1;
}

#image-list-page .ui-filterable {
    margin-top: -57px;
    margin-bottom: 12px;
}

@media only screen and (max-width: 550px) {

    #machine-list-page .ui-filterable,
    #key-list-page .ui-filterable,
    #script-list-page .ui-filterable,
    #network-list-page .ui-filterable  {
        margin-left: 50px !important;
        margin-right: 50px !important;
    }
}

#machine-list-page .ui-filterable .ui-input-search,
#key-list-page .ui-filterable .ui-input-search,
#script-list-page .ui-filterable .ui-input-search,
#network-list-page .ui-filterable .ui-input-search {
    margin-left: 55px;
}
#script-list-page .ui-filterable .ui-input-search {
    margin-left: 55px;
    margin-right: 10px;
}
#machine-list-page .ui-filterable .ui-input-search,
#key-list-page .ui-filterable .ui-input-search,
#image-list-page .ui-filterable .ui-input-search,
#script-list-page .ui-filterable .ui-input-search,
#network-list-page .ui-filterable .ui-input-search {
    background-color: #fff;
    border-color: #b5b5b5;
}

#image-list-page .ui-filterable .ui-input-search {
    margin-left: 10px;
    margin-right: 10px;
}

#machine-list-page .ui-filterable input,
#key-list-page .ui-filterable input,
#network-list-page .ui-filterable input,
#image-list-page .ui-filterable input,
#script-list-page .ui-filterable input {
    min-height: 35px;
    position: relative;
    padding-left: 10.5px;
}

#machine-list-page .machines-header,
#image-list-page .images-header,
#script-list-page .scripts-header,
#key-list-page .keys-header,
#network-list-page .networks-header {
    background-color: #d4d4d4;
    margin-top: 1%;
    overflow: visible;
    height: 63px;
}

#key-list-page .keys-header {
    height: 65px;
}

#machine-list-page .machines-header:after,
#key-list-page .keys-header:after,
#script-list-page .scripts-header:after,
#network-list-page .networks-header:after {
    content: '';
    clear: both;
    display: table;
}


/* Checkbox list
-----------------------------------------------------------------------------------------------------------*/
.ui-icon-carat-r:after {
    background-color: #666;
    background-image: none;
}
ul.checkbox-list {
    background-color: #fafafa;
}
ul.checkbox-list li {
    border-bottom: 1px solid #EEEDEB;
    background-color: #FAF9F4;
}
ul.checkbox-list li:last-of-type {
    border-bottom: none;
}
ul.checkbox-list li a:focus {
    box-shadow: none !important;
}
ul.checkbox-list li a,
ul.checkbox-list label {
    border-width: 0px !important;
    color: #444 !important;
}
ul.checkbox-list li a {
    background-color: transparent !important;
}
ul.checkbox-list li {
    background-color: #FAF9F4 !important;
}
ul.checkbox-list li:hover {
    background-color: #edece8 !important;
}

ul.checkbox-list .ui-grid-b {
    overflow: visible;
}
.ui-checkbox-on:after {
    background-color: #64b247 !important;
}

/* Checkbox link
-----------------------------------------------------------------------------------------------------------*/
.checkbox-link a {
    font-size: 14px;
    padding: .8em 2.5em .8em 1.1em !important;
    color: #444;
    font-weight: bold;
}
.checkbox-link a:after {
    right: 19px;
    content: '\0056';
    background-color: transparent;
    background-image: none;
    opacity: 1;
    color: #7F7F7F;
}
.checkbox-link a:hover {
    color: #444 !important;
}
.checkbox-link h3 {
    width: 65%;
    display: inline-block !important;
}
.checkbox-link .state h3 {
    width: auto;
    margin-left: 10px;
}
.checkbox-link .ui-checkbox {
    margin: 0 !important;
    float: left;
    clear: both;
    background-color: transparent !important;
}
.checkbox-link .ui-checkbox:hover {
    background-color: #FAF9F4;
}
.checkbox-link .ui-checkbox input {
    display: none;
}
.checkbox-link .ui-checkbox label {
    border-radius: 0.1em 0 0 0.1em;
    background-color: transparent !important;
    margin-top: 10px;
    border: none;
    box-sizing: border-box;
    height: 20px;
    padding-right: 6px !important;
}
.checkbox-link .ui-checkbox label:after {
    background-image: none !important;
    background-color: transparent !important;
    color: #d1d1d1;
    opacity: 1;
    text-shadow: none;
    transition: color .2s linear;
}
.checkbox-link .ui-checkbox label:hover:after {
    color: #444;
}
.checkbox-link.is-disabled .ui-checkbox label:hover:after {
    color: #d1d1d1;
    cursor: not-allowed;
}
.checkbox-link .ui-checkbox label.ui-checkbox-on:after {
    color: #444;
    text-shadow: none;
}
.tag {
    margin: 0 6px 0 0;
    color: #444 !important;
    padding: 0;
    font-weight: normal;
    display: inline-block;
    float: right;
    max-width: 250px;
}

@media only screen and  (max-width: 600px) {
    .tag {
        padding: 0 12px 0 0;
    }
}

#image-list .checkbox-link .tag {
    margin: 11px 10px 11px 0px;
}

/* Footer
-----------------------------------------------------------------------------------------------------------*/
.ui-footer {
    position: fixed;
    display: none;
    z-index: 2000;
    width: 100%;
    bottom: 0;
}
.ui-footer a {
    padding-left: 10px !important;
    padding-right: 0 !important;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    text-align: left;
}

@media only screen and  (max-width: 340px) {
    .ui-footer .ui-btn {
        font-size: 10px;
    }
}
.ui-footer.single-action-footer,
.ui-footer.dual-action-footer,
.ui-footer.tri-action-footer {
    box-sizing: border-box;
}
.ui-footer.single-action-footer,
.ui-footer.dual-action-footer .ui-grid-a > div,
.ui-footer.tri-action-footer .ui-grid-b > div {
    padding: 3px 2px;
}
.ui-footer.single-action-footer,
.ui-footer.dual-action-footer,
.ui-footer.tri-action-footer {
    border: none;
}
.ui-footer.single-action-footer,
.ui-footer.dual-action-footer a,
.ui-footer.tri-action-footer a {
    margin: 0;
}
.ui-footer.single-action-footer a {
    padding: .6em 2.5em .6em 1.1em !important;
}

.ui-footer.single-action-footer a:after {
    position: absolute;
    right: 1em;
    top: 50%;
}

.ui-footer .ui-grid-a a {
    margin:0;
}

.ui-footer a:hover {
    color: #444 !important;
}

.ui-footer a:hover:after {
    color: #444;
}

.ui-footer a:active {
    color: #fff !important;
}

.ui-footer a:active:after {
    color: #fff;
}

/* Small List Item
-----------------------------------------------------------------------------------------------------------*/
.small-list-item {
    padding: 0 6px;
    background: #ddd;
    margin-bottom: 5px;
    border-radius: 0;
    display: inline-block;
    border: 1px solid #c4c4c4;
}
.small-list-item button,
.small-list-item a {
    display: inline;
}
.small-list-item p {
    top: -8px;
    position: relative;
    display: inline;
}
@-moz-document url-prefix() {
    .small-list-item p {
        top: 5px;
    }
}

/*
 * Custom select
 */

.mist-select .ui-collapsible-content {
    background: transparent !important;
}
.mist-select h2 {
    z-index: 1000;
    border-bottom-right-radius: inherit !important;
}
.mist-select ul {
    margin-top: 0px;
}

.mist-select .ui-collapsible-content {
    margin: 0px !important;
    padding-top: 0;
}

#message-box-popup {
    width: auto !important;
    max-width: 600px;
}

#message-box-popup h1 {
    padding: 12px;
}

#message-box-popup .ui-btn {
    width: 100%;
    margin: 0px;
    padding: 0.7em 0;
}

#message-box-popup #message-cmd {
    min-height: 100px;
    white-space: pre;
    background: #444 !important;
    color: rgb(240, 240, 240);
    text-shadow: none;
    font-family: monospace;
    overflow: scroll;
    max-height: 400px !important;
    padding: 0 10px;
}

/* Notification popup */

#notification-popup {
    border: none;
    box-shadow: none;
}
#notification-popup h1 {
    color: #fff;
}

/* Confirmation popup
-----------------------------------------------------------------------------------------------------------*/
.back {
    color: #000 !important;
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
    font-weight: normal !important;
}
.back:hover {
    text-decoration: underline !important;
}
.plain-link {
    color: #000 !important;
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
    font-weight: normal !important;
}
.plain-link:hover {
    color: #fff !important;
    background-color: #0099cc !important;
    border-color: #0099cc !important;
    text-decoration: none !important;
}
.plain-link:active {
    background-color: #0081ac !important;
}
.yes {
    color: #fff !important;
    background-color: #64b247 !important;
    border-color: #64b247 !important;
}
.yes:hover {
    background-color: #77be5d !important;
    border-color: #77be5d !important;
}
.yes:active {
    background-color: #569a3d !important;
    border-color: #569a3d !important;
}
.no {
    color: #fff !important;
    background-color: #d96557 !important;
    border-color: #d96557 !important;
}
.no:hover {
    background-color: #df7e73 !important;
    border-color: #df7e73 !important;
}
.no:active {
    background-color: #d34c3b !important;
    border-color: #d34c3b !important;
}
.secondary-action {
    color: #000 !important;
    background-color: #fff !important;
    border-color: #fff !important;
    font-weight: normal !important;
}
.secondary-action:hover {
    background-color: #fff !important;
    border-color: #fff !important;
}
.secondary-action:active {
    background-color: #eee !important;
    border-color: #eee !important;
}
#confirmation-popup {
    width: 355px !important;
    max-width: 99%;
}
.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn {
    border: none;
}
.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn.ui-last-child {
    border-right-width: 0px;
}

#confirmation-popup p {
    text-align: center;
}

/* List Wrapper
-----------------------------------------------------------------------------------------------------------*/
.list-wrapper {
    width: 100%;
}

.list-wrapper > a {
    width: 5em;
}

.list-wrapper > a:nth-child(1) {
    float: left;
    font-weight: normal;
}
.list-wrapper > a:nth-child(2) {
    float: right;
}

.list-wrapper .ui-filterable {
    clear: both;
    top: -3em;
    position: relative;
    margin-left: 9.5em;
    margin-right: 9.5em;
}

.list-wrapper ul {
    position: relative;
    top: -2em;
}

@media only screen and (max-width: 550px) {

    .list-wrapper .ui-filterable {
        margin-left: 3em;
        margin-right: 3em;
    }
}

/* Other
-----------------------------------------------------------------------------------------------------------*/
#hidden-shell-iframe {
    display: none;
}

.single-machine-loader {
    z-index: 1000;
}

/* User menu
-----------------------------------------------------------------------------------------------------------*/
#me-btn {
    width: 100%;
    display: inline-block;
    background: transparent;
    height: 56px;
    padding: 0px;
    border-width: 0px;
    box-shadow: 0 0 0 0;
}

#me-btn:hover {
    cursor: pointer;
}

#me-btn:hover .gravatar-image,
#me-btn:active .gravatar-image {
    border-color: #0099cc;
}

#me-btn .owner {
    margin-top: 24px;
    display: inline-block;
    font-size: 12.5px;
    color: #444;
    font-weight: 400;
    text-shadow: none;
    text-transform: uppercase;
    max-width: calc(100% - 60px);
    text-overflow: ellipsis;
    overflow: hidden;
}

#me-btn .owner.name {
    text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
    #me-btn .owner {
        display: none;
    }
}

#me-btn .owner:hover {
    cursor: pointer;
}

#me-btn .gravatar-image {
    border-radius: 2em;
    border-width: 3px;
    border-style: solid;
    border-color: #fff;
    margin: 2px 4px 0 0;
    float: right;
    width: 50px;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

#me-btn .gravatar-image.user {
    margin-top: 8px;
}

#me-btn .gravatar-image:hover,
#me-btn .gravatar-image:active {
    cursor: pointer;
    border-color: #0099cc;
}

#me-btn .user {
    display: inline-block;
    width: 36px;
    height: 36px;
}

#user-menu-popup #user-email {
    text-align: center;
    margin: .5em 0 1em;
}

#user-menu-popup .ui-btn-icon-left {
    padding-left: 3.4em !important;
}

.monitoring-dialog-container, .associate-key-container, .probe-dialog-container div {
    padding: 15px;
}

.ui-collapsible-inset .ui-collapsible-content {
    padding-top: 0px;
    overflow: visible;
    border-width: 0 !important;
    padding: 0 !important;
    background-color: transparent;
}

.single-machine-loader {
    display: block !important;
    z-index: 1000;
}
/* Leds
 * */

.netleds {
    left: -10px;
    position: relative;
}

.netleds div {
    border-radius: 0;
    float: right;
    height: 16px;
    margin: 0px 1px;
    width: 4px;
    background-color: #7f7f7f;
    opacity: .4;
}

.netleds .on {
    background-color: #7f7f7f;
    opacity: 1;
}

.netled4 {
    height: 4px !important;
    margin-top: 12px !important;
}

.netled3 {
    height: 8px !important;
    margin-top: 8px !important;
}

.netled2 {
    height: 12px !important;
    margin-top: 4px !important;
}

.loadleds {
    position: relative;
    right: 8px
}

.led {
    border-radius: 0.1em;
    float: right;
    height: 16px;
    margin: 0px 1px;
    width: 6px;
}

.probing {
    animation: probe 1s steps(2, start) infinite;
    -webkit-animation: probe 1s steps(2, start) infinite;
    background-color: rgba(0, 0, 0, .4);
}
@keyframes probe {
    from {
        opacity: 1;
    }
    to {
        opacity: .1;
    }
}
@-webkit-keyframes probe {
    from {
        opacity: 1;
    }
    to {
        opacity: .1;
    }
}

.hot {
    background-color: #D96557 !important;
}
.warm {
    background-color: #FFC65D !important;
}
.eco {
    background-color: #64B247 !important;
}
.cool {
    background-color: #4CC3D9 !important;
}
.cold {
    background-color: #66C2E0 !important;
}

/* OK - Cancel
------------------------------------------------------------------------------*/


.ok-cancel {
    width: 100%;
    margin: 16px 0 0;
    padding-bottom: 0 !important;
    box-sizing: border-box;
}
.ok-cancel a,
.ok-cancel button {
    width: 50% !important;
    box-sizing: border-box !important;
    float: left;
}

.ok-cancel a.full-width,
.ok-cancel button.full-width {
    width: 100% !important;
}

.ok-cancel .ui-btn.ui-first-child.ui-last-child,
.ok-cancel .ui-btn.ok-only {
    width: 100% !important;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.ok-cancel a.ui-first-child.ui-last-child.half,
.ok-cancel button.ui-first-child.ui-last-child.half {
    width: 50% !important;
}

.ok-cancel:after {
    content: '';
    display: block;
    clear: both;
}

.ok-cancel a.ok-only, .ok-cancel > .ui-controlgroup-controls {
    width: 100% !important;
    box-sizing: border-box;
}

#cloud-delete-confirm .ok-cancel {
    margin-bottom: 1em;
}

/* Info table
------------------------------------------------------------------------------*/
.info-table {
    width: 100%;
}
.info-table td {
    margin: 0;
    width: 50%;
    font-size: 14px;
    padding: 10px 12px;
}
.info-table tr td:nth-child(2) {
    font-weight: normal;
}
.info-table tr {
    background-color: #FAF9F4;
    border: 1px solid #FAF9F4;
}
.info-table tr.strong {
    background-color: #E8E8E8;;
}
.info-table .ip {
    display: inline-block;
}
.info-table {
    border-collapse: collapse;
    width: 100%;
    background: #fff;
}

/* Welcome clients
------------------------------------------------------------------------------*/
#no-collection {
    margin: 25px auto 15px;
}

#no-collection-inner {
    text-align: center;
    padding: 50px 20px !important;
    background-color: #FFF;
}

#no-collection-inner .icon-cloud-check:after {
    color: #A5A4A1;
    font-size: 150px;
    opacity: 0.3;
}

#no-collection-inner .icon-machine:after {
    font-size: 145px;
}

#no-collection-inner .icon-script:after,
#no-collection-inner .icon-keys:after {
    margin-bottom: 30px;
    font-size: 105px;
}

#no-collection-inner .icon-check:hover {
    background-color: transparent !important;
}

#no-collection-inner h1 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
    margin: -5px auto 10px;
    color: #444;
    letter-spacing: 0px;
}

#no-collection-inner h2 {
    font-size: 24px;
    margin: 0 auto 15px;
    text-transform: uppercase;
    font-weight: 300;
    color: #444;
}

#no-collection-inner p {
    margin: 0 auto 10px;
    letter-spacing: 0;
    margin-top: 0;
    color: #999;
    line-height: 1.9em;
}

#no-collection-inner .floating-collapsible {
    float: none;
    margin: 30px auto !important;
}

/* Dialog
------------------------------------------------------------------------------*/
.command-container {
    white-space: pre;
    text-align: left;
    max-height: 250px;
    overflow: auto;
    word-wrap: break-word;
}

#dialog-popup .duration {
    font-family: monospace;
    font-size: 11px;
}

#dialog-popup .ui-shadow {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

/* Border radius override */
.ui-corner-all {
    -webkit-border-radius: 0 /*{global-radii-blocks}*/;
    border-radius: 0 /*{global-radii-blocks}*/;
}

/* Body border override */
.ui-body-a {
    border-width: 0px;
}

.full-width {
    width: 100% !important;
}

.no-width {
    width: 0% !important;
}

.field-wrapper {
    width: 100%;
    margin-top: -0.5em;
}
.field-wrapper:after {
    content:'';
    display:block;
    clear: both;
}
.field-wrapper > div {
    display: block;
    vertical-align: top;
    float: left;
}
.field-wrapper > div.first-child {
    width: calc(100% - 34px);
}
.field-wrapper > div.first-child.last-child {
    width: 100%;
}
.field-wrapper:after {
    content: '';
    display: table;
    clear: both;
}
.field-wrapper > div.last-child:not(.first-child) a {
    background-color: #b5b5b5;
    color: #fff;
    margin-top: 8px;
}
.field-wrapper > div.last-child:not(.first-child) a:hover {
    background-color: #a3a3a3;
    border-color: #a3a3a3;
}
.field-wrapper > div.last-child:not(.first-child) a:active {
    background-color: #a3a3a3;
    border-color: #a3a3a3;
}
.field-wrapper * {
    border-radius: 0;
}
.field-wrapper > div > .ui-input-text {
    border-width: 1px;
}
.field-wrapper.is-file .first-child.last-child .ui-btn,
.field-wrapper.is-file .first-child .ui-btn,
.field-wrapper .ui-input-text input,
.field-wrapper .ui-collapsible-heading-toggle,
.field-wrapper .ui-listview .ui-btn {
    line-height: 21px !important;
    padding-top: 5.5px !important;
    padding-bottom: 5.5px !important;
}
.field-wrapper.is-file .first-child.last-child .ui-btn,
.field-wrapper.is-file .first-child .ui-btn {
    margin: 8px 0 !important;
}
.field-wrapper .ui-icon-question {
    height: 32px;
}

.ui-icon-question:after {
    background-position: 6px 3px;
}
.ui-slider {
    border-color: #b5b5b5 !important;
}
.ui-slider.ui-mini .ui-slider-label {
    line-height: 29px;
}
.ui-slider .ui-slider-label {
    background-color: #fff !important;
    font-weight: 400;
    border-radius: 0;
    font-size: 14px;
    line-height: 32px;
}
.ui-slider .ui-slider-handle {
    border-radius: 0;
    background-color: #0099cc !important;
    border-color: #0099cc !important;
}
.ui-slider .ui-slider-handle:hover {
    background-color: #66C2E0 !important;
    border-color: #66C2E0 !important;
}

.field-wrapper.empty.required .ui-input-text,
.empty.required .ui-input-text,
.empty.required .ui-select>.ui-btn {
    border-color: #0099cc !important;
}

.field-wrapper.empty.required .ui-icon-question {
    background-color: #0099cc !important;
    border-color: #0099cc !important;
}
